---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---




<h1>Joining the Lab</h1>

<h2>Prospective Graduate Students</h1>

<p>I seek motivated and highly qualified students that have a demonstrated interest of machine and learning and AI in the biomedical engineering field.   In your email, explain why the field of study excites you.</p>  

<p>Please check my research interests prior to contacting me. Generic topics of interest or form letters significanlty reduces the probability of my reply.</p>

<p>Contact me by email with brief statements of: 1) credentials with GPA, 2) your area of research interest and how that is related to my research interests.  I prefer all information in the body of the email as text; however, I will accept PDF attachments (I won't open compressed files, non-PDFs, or open URLs). Due to the volume of emails I can only respond to potential candidates.</p>

<a href="http://theprofessorisin.com/2011/07/25/how-to-write-an-email-to-a-potential-ph-d-advisor/"> How to Write an Email to a Potential Graduate Supervisor </a>


<h2>Undergraduate</h2>




{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

