---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---


<p>I have always been interested in how humans and computational machines can interact for the augmentation, rehabilitation, and enhancement of human attributes.  Perhaps the best description of my research is derived from the term cybernetics, which was defined by Norbert Wiener as the study of communication and control in the animal and the machine. I believe that the focus of my work is best defined as cybranetics, or the study of communication and control between the animal and machine.</p>

<p>With the recognition that biological systems exhibit inherent variability, the role of machine learning and artificial intelligence is a natural fit for the interfacing of learning devices and systems.  Additonally, health risks prediction and classification based on medical and related data has become an area of great interest for medical providers, patients, and resource allocation.  The computation from the smallest embedded devices, to cloud based services, to the high performace computing all have role in this research.</p>  

<h1>Biomedic.AI Lab</h1>
Current/recent projects in the biomedic.ai lab:
 <ul>
  <li>Trust in Medical AI</li> 
  <li>Embedded and Mobile Machine Learning Models</li>
  <li>Active Machine Learning Models</li>
  <li>AI-Based Personalized Predictive Model for Medical Imaging Radiation</li>
  <li>Segmentation and Classification of Liver Imaging</li>
   <li>Augmented Reality Based Brain Tumor 3D Visualization</li>
   <li>Cognitive Priority Model for Temporal Orientation of Advanced Telemedical Support in Limited Bandwidth Applications</li>
   <li>Distributed Telemedicine Simulation Platform for Team Medical Event Management During Space Exploration</li>
</ul> 


<h1>Joining the Lab</h1>

<h2>Prospective Graduate Students</h1>

<p>I seek motivated and highly qualified students that have a demonstrated interest of machine and learning and AI in the biomedical engineering field.   In your email, explain why the field of study excites you and the types of questions you're hoping to study.  I prefer to take students that have experience with programming and/or computing hardware -- if you don't have this experience then you should expect to learn.</p>  

<p>Please check my research interests prior to contacting me. Generic topics of interest or form letters significanlty reduces the probability of my reply.</p>

<p>Contact me by email with brief statements of: 1) C.V., 2) GPA, 3) your area of research interest and how that is related to my research interests.  I prefer all information in the body of the email as text; however, I will accept PDF attachments (I won't open compressed files, non-PDFs, or URLs). Due to the volume of emails I can only respond to potential candidates.</p>

<a href="http://theprofessorisin.com/2011/07/25/how-to-write-an-email-to-a-potential-ph-d-advisor/"> How to Write an Email to a Potential Graduate Supervisor </a>


<h2>Undergraduate</h2>

<p>If you are an undergraduate interested in working in my lab, please read through my research interests. Then email me (1) your resume, (2) your GPA, and (3) one page or less describing your research interests and relevant course background.</p>

<p>Ensure to tell me if you have have experience with programming and/or computing hardware -- if you don't have this experience then you should expect to learn.  As a member of the lab we will meet weekly for updates on your progress and to get assistance in learning necessary skills (coding, writing, etc.).</p>



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

